* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


.container {
    width: 90%;
    margin: auto;
}


header {
    background: white;
    padding: 15px 0;
}

.logo {
    color: rgb(79, 246, 154);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: rgb(92, 92, 92);
}

.nav-links a:hover {
    color: rgb(79, 246, 154);
    text-decoration: underline;
}

.login-btn {
    padding: 8px 16px;
    border: 1px solid #4dff8e;
    border-radius: 20px;
    text-decoration: none;
    color: #4dff8e;
    font-size: 14px;
    transition: 0.3s;
}

.signup-btn {
    padding: 8px 16px;
    background: #4dff8e;
    color: white;
    border-radius: 20px;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
}


.login-btn:hover {
    background: #4dff8e;
    color: white;
}

.signup-btn:hover {
    background: #4dff8e;
}


.hero {
    padding: 40px 0;
    background: rgb(255, 254, 254)
}

.hero-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-text h2 {
    font-size: 42px;
    font-weight: bold;
}

.hero-text p {
    color: rgb(80, 78, 78);
    margin: 15px 0;
}

.hero-img img {
    width: 330px;
    border-radius: 20px;
}

.btn {
    background: rgb(237, 62, 62);
    padding: 10px 20px;
    border-radius: 6px;
    color: white;
    text-decoration: none;
}

.btn:hover {
    background: rgb(79, 246, 154);
}


.search-box {
    margin-top: 25px;
    padding: 15px;
    background: white;
    box-shadow: 0px 5px 20px rgb(16, 16, 16);
    border-radius: 15px;
    display: flex;
    gap: 10px;
}

.search-box input,
.search-box select {
    flex: 1;
    padding: 10px;
    border: 1px solid rgb(121, 121, 121);
    border-radius: 8px;
}


.section-title {
    font-size: 28px;
    margin: 40px 0 20px;
    text-align: left;
}


.grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}


.card {
    background: white;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0px 4px 14px rgb(5, 5, 5);
    text-align: center;
    transition: 0.3s;
}

.card img {
    width: 100%;
    height: 140px;
    border-radius: 12px;
    object-fit: cover;
}

.card:hover {
    transform: scale(1.03);
}


.promos {
    background: rgb(254, 238, 238);
    padding: 40px 0;
}

.promo-card {
    padding: 20px;
    background: rgb(79, 246, 154);
    color: white;
    text-align: center;
    border-radius: 12px;
    transition: 0.3s;
}

.promo-card:hover {
    background: rgb(79, 246, 154);
    transform: translateY(-5px);
}


.review-card {
    padding: 20px;
    background: rgb(241, 241, 241);
    border-radius: 12px;
    box-shadow: 0px 4px 14px rgb(2, 2, 2);
    transition: 0.3s;
}

.review-card:hover {
    transform: scale(1.02);
    background: white;
}


.contact form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact input,
.contact textarea {
    padding: 12px;
    border: 1px solid rgb(193, 192, 192);
}


footer {
    background: rgb(79, 246, 154);
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
}


@media (max-width: 768px) {
    .hero-wrapper {
        flex-direction: column;
        text-align: center;
    }

    .hero-img img {
        width: 260px;
    }

    .search-box {
        flex-direction: column;
    }

}

