
        body {
            background: beige;
            font-family: Arial, sans-serif;
        }
        .container {
            width: 350px;
            margin: 40px auto;
            background: #f1f1f5;
            border-radius: 6px;
            box-shadow: 0 0 7px #4501f2;
            padding: 20px;
        }
        .header {
            background: #23dfe9;
            color: #000000;
            text-align: center;
            padding: 12px  ;
            border-radius: 6px 6px 0 0;
        }

        .profile-pic {
            display: block;
            margin:  18px auto;
            width: 60px ;
            height: 77px ;
            border-radius: 50%;
            background: #080809;
            box-shadow: 0 0 10px black;
        }

        .about {
            text-align: center;
            color: #555;
            font-size: 17px;
            margin-bottom: 18px;
            text-decoration: solid;
        }

        .table-title {
            width: 250px;
            margin: 40px auto;
            background: #d85757;
            border-radius: 6px;
            padding: 20px;
        }

        .MyProjects{
            width: 300px;
            margin: 40px auto;
            background: #755ec2;
            border-radius: 6px;
            padding: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 14px;
        }

        th, td {
            border: 1px solid #55769e;
            padding: 7px 4px;
            text-align: center;
            font-size: 13px;
        }
        th {
            background: #ddd796;
        }

        input, button {
            padding: 6px;
            margin: 5px 0;
            border-radius: 4px;
            border: 1px solid #0062ff;
        }

        button {
            background: #0084ff;
            color: #fff;
            cursor: pointer;
        }

        .contact-table {
            margin-bottom: 6px;
        }